<a href="#" class="list-group-item active">商品管理</a>

<a href="/admin/product" class="list-group-item"> 商品列表</a>
<a href="/admin/product/add" class="list-group-item"> 增加商品</a>

<a href="#" class="list-group-item active">用户管理</a>

<a href="/admin/user" class="list-group-item"> 用户列表</a>
<a href="/admin/user/add" class="list-group-item"> 用户增加</a>

<a href="#" class="list-group-item active">推广页管理</a>

<a href="/admin/wjj" class="list-group-item"> 拷贝/命名</a>
<a href="#" class="list-group-item active">基础管理</a>

<a href="/admin/jc" class="list-group-item"> 建代码表</a>

<a href="#" class="list-group-item active">代码管理</a>

<a href="/admin/dm" class="list-group-item"> 代码列表</a>
<a href="/admin/dm/add" class="list-group-item"> 增加代码</a>
